body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #0b0f19 0%, #0f172a 50%, #020617 100%) ;
    color: #e5e7eb;
    min-height: 100vh;
}

.home-container {
    max-width: 1100px;
    margin: 60px auto;
    padding: 20px;
}

.home-header {
    text-align: center;
    margin-bottom: 40px;
}

.home-header h1 {
    font-size: 36px;
    margin-bottom:  40px;
    font-weight: 600;
}

.home-header p {
    color: #9ca3af;
}

.stats-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    gap: 20px;
    flex-wrap: wrap;
}

.stat-card {
    min-width: 220px;
    flex: 1;
    background: rgba(255, 255, 255, 0.05);
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
    text-align: center;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: 0.3s ease;
}

.stat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.6);
}

.stat-card h3 {
    margin-bottom: 10px;
    color: #9ca3af;
    font-size: 14px;
}

.stat-number {
    font-size: 36px;
    font-weight: 700;
}

.stat-number.i1n {
    color: #22c55e;
}
.stat-number.pending {
    color: #f59e0b;
}

.home-action {
    margin-top: 40px;
}

.view-tasks-button {
    cursor: pointer;
    padding: 14px 28px;
    background: linear-gradient(135deg, #f97316, #fb923c);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s ease;
    box-shadow: 0 10px 25px rgba(249, 115, 22, 0.4);
}

.view-tasks-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(249, 115, 22, 0.6);
}

@media (max-width: 600px) {
    .home-header h1 {
        font-size: 22px;
    }
    .home-header p {
        font-size: 14px;
    }
    .stats-container {
        grid-template-columns: 1fr;
    }
    .home-action {
        flex-direction: column;
    }
    .view-tasks-button,.add-tasks-button {
        width: 100%;
    }
}

@media (max-width:900px) {
    .stats-container {
        grid-template-columns: repeat(2, 1fr);
    }
}